<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Details</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Welcome to WebEngine!</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">My Details<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Book a Venue</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" tabindex="-1" aria-current="true">Booking Status</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" tabindex="-1" aria-current="true"> Booking History</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" tabindex="-1" aria-current="true">Feedback</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" tabindex="-1" aria-current="true">View Venus</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Sign Out</button>

        </form>
    </div>
</nav>

<div class="container">
    <h1> My Personal Details <span class="badge badge-secondary"></span></h1>
</div>
&nbsp;&nbsp;
<div class="container">
    <div class="jumbotron">
        <form class="form-inline">
            <div class="form-group mb-2">
                <label for="1" class="sr-only">Email</label>
                <input type="text" readonly class="form-control-plaintext" id="1" value="First and Lastname">
            </div>
            <div class="form-group mx-sm-3 mb-2">
                <label for="inputPassword2" class="sr-only">Address</label>
                <input type="password" class="form-control" id="First and Lastname" placeholder="first and lastname">
            </div>
        </form>

        <form class="form-inline">
            <div class="form-group mb-2">
                <label for="3" class="sr-only">Email</label>
                <input type="text" readonly class="form-control-plaintext" id="3" value="Address">
            </div>
            <div class="form-group mx-sm-3 mb-2">
                <label for="inputPassword2" class="sr-only">Address</label>
                <input type="password" class="form-control" id="inputPassword2" placeholder="address">
            </div>

        </form>

        <form class="form-inline">
            <div class="form-group mb-2">
                <label for="4" class="sr-only">Email</label>
                <input type="text" readonly class="form-control-plaintext" id="4" value="Mobile Phone">
            </div>
            <div class="form-group mx-sm-3 mb-2">
                <label for="inputPassword2" class="sr-only">Mobile Phone </label>
                <input type="password" class="form-control" id="mobile phone" placeholder="mobile phone">
            </div>
        </form>


        <form class="form-inline">
            <div class="form-group mb-2">
                <label for="5" class="sr-only">Email</label>
                <input type="text" readonly class="form-control-plaintext" id="5" value="Email">
            </div>
            <div class="form-group mx-sm-3 mb-2">
                <label for="inputPassword2" class="sr-only">Mobile Phone </label>
                <input type="password" class="form-control" id="email" placeholder="email">
            </div>

        </form>


        <form class="form-inline">
            <div class="form-group mb-2">
                <label for="6" class="sr-only">Email</label>
                <input type="text" readonly class="form-control-plaintext" id="6" value="Username">
            </div>
            <div class="form-group mx-sm-3 mb-2">
                <label for="inputPassword2" class="sr-only">Username</label>
                <input type="password" class="form-control" id="password" placeholder="username">
            </div>

        </form>



        <form class="form-inline">
            <div class="form-group mb-2">
                <label for="7" class="sr-only">Confirm Password</label>
                <input type="text" readonly class="form-control-plaintext" id="7" value="Change Password">
            </div>
            <div class="form-group mx-sm-3 mb-2">
                <label for="inputPassword2" class="sr-only">Password</label>
                <input type="password" class="form-control" id="confirm password" placeholder="change password">
            </div>
            <button type="submit" class="btn btn-primary mb-2">Update</button>
        </form>
    </div>
</div>

<script type="text/javascript" src="js/bootstrap.js"></script>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
